<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive midiot </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="js/socket.js"></script>
    <script type="text/javascript" src="js/midiot.js"></script>
  </head>
  <body ng-app="midiot">
    <div ng-controller="MidiCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> MIDIoT </a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">


      <div class="well">
        <form class="form-inline">
          <button ng-click="controls.mute = !controls.mute; control()"
                  class="btn ngclass: {{controls.mute?
                                        'btn-warning' : 'btn-default'}}">
            Mute
          </button>
        </form>
      </div>
      <div class="" ng-repeat="(id, device) in devices">
        <form class="form-inline">
          <div class="form-group">
            <tt>{{device.id}}</tt>
          </div>
          <div class="form-group">
            <button class="btn ngclass: {{(device.type === 'noteOn')?
                                          'btn-info' : 'btn-default'}}">
              {{device.velocity}}
            </button>
          </div>
          <div class="form-group">
            <label for="key">Key:</label>
            <input id="key" type="text" ng-model="device.key"
                   ng-change="update(device)" class="form-control" size="3"
                   maxlength="3"/>
          </div>
          <div class="form-group">
            <label for="duration">Duration (ms):</label>
            <input id="duration" type="text" ng-model="device.duration"
                   ng-change="update(device)" class="form-control" size="4"
                   maxlength="4"/>
          </div>
          <div class="form-group">
            <label for="channel">Channel:</label>
            <input id="channel" type="text" ng-model="device.channel"
                   ng-change="update(device)" class="form-control" size="2"
                   maxlength="2"/>
          </div>
          <div class="form-group">
            <button ng-click="device.useBarnowl = !device.useBarnowl;
                              update(device)"
                    class="btn ngclass: {{device.useBarnowl?
                                          'btn-primary' : 'btn-default'}}">
              Real-Time
            </button>
            <button ng-click="device.useBarnacles = !device.useBarnacles;
                              update(device)"
                    class="btn ngclass: {{device.useBarnacles?
                                          'btn-primary' : 'btn-default'}}">
              Periodic
            </button>
          </div>
          <div class="btn-group" dropdown>
            <button id="category" type="button" class="btn btn-default"
                    dropdown-toggle>
              {{device.category}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"
                aria-labelledby="single-button">
              <li role="menuitem"><a ng-click="device.category = 'Instrument'; update(device)">Instrument</a></li>
              <li role="menuitem"><a ng-click="device.category = 'Controller'; update(device)">Controller</a></li>
              <li role="menuitem"><a ng-click="device.category = 'Tap Tempo'; update(device)">Tap Tempo</a></li>
            </ul>
          </div>
        </form>
      </div>

        </div>
        <div class="col-md-2"></div>
      </div>

      <footer class="footer">
        <a href="https://github.com/reelyactive/midiot"> midiot </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2015
        </a>
      </footer>
    </div>
  </body>
</html>
